{% extends "shop/base.html" %}
{% block title %}About page{% endblock %}
{% block body %}

<body>

    <main>
        <div class="container">
            <div class="p-1 mb-4 my-2 bg-light rounded-3">
                <div class="row justify-content-md-center">
                    <h1 class="display-5 fw-bold text-center">About Us</h1>
                    <p class="col-md-8 fs-4 text-center">We have a logistic network that ensures deliveries in most parts of the
                        nation with exceptions of some locations (work in progress). Our goal is to ensure that our
                        users and customers can buy products at affordable prices, get their products delivered as
                        assured, and on time regardless of their location. On the other hand, we provide a platform for
                        our vendors to cater to millions of customers without additional cost to their business.</p>
                </div>
            </div>

            <div class="row align-items-md-stretch justify-content-md-center">
                <div class="col-md-6">
                    <div class="h-100 p-5 text-white bg-dark rounded-3">
                        <h2 class="text-center">Out vision</h2>
                        <p class="text-center">Our vision is to make Nepal proud by being the best local example in
                            customer experience.</p>
                    </div>
                </div>
            </div>
        </div>

        <footer class="pt-3 mt-4 text-muted border-top">
            &copy; 2022
        </footer>
        </div>
    </main>



</body>

</html>

{% endblock %}